body{
	font-family: arial,sans-serif;
	
	background-size:cover;
	background:url(train3.jpg);
	
}
#nav{
	width:100%;
	height:250px;
	background-size:cover;
}
#nav_wrapper{
	height:100px;
	width:1350px;
	background:#00836b;
	margin-left:auto;
	margin-right:auto;  
	margin-top:0px;
	opacity:0.6;
	filter:alpha(opacity=90);
}
#nav_wrapper ul li {
	list-style:none;
	display:inline;
	font-weight:bold;
	padding:30px;
}
#nav_wrapper a{
	color:white;
	text-decoration:none;
	margin-top:20px;
	padding:10px;
}
#nav_wrapper ul li:hover{
	background: lightgreen;
	transition:all 0.5s;
	opacity:0.5;
	filter:alpha(opacity=50);
}
p{
	background-image:url(2.jpg);
	background-size:cover:
	
}
h1{
	background-image:url(mountain.jpg);
	background-size:cover;
}
#bar{
	width:100%;
	height:2000px;
	background: yellow;
	background-size:cover;
	
}
